<h2 *ngIf="statusChanged" id="status-update">Status Changed: Member</h2>

<button *ngIf="accService.isLoggedIn()" id="create-post" (click)="openDialog()" mat-button>Create Post</button>
<div *ngFor="let message of allMessages">
    <app-post (deleteEvent)="deletePost($event)" [id]="message._id" [username]="message.createdBy.username" [message]="message.text" [date]="message.timestamp"></app-post>
</div>

<button *ngIf="accService.isLoggedIn()" (click)="becomeMember()" mat-fab color="accent" id="member" aria-label="Example icon button with a delete icon">
    <mat-icon>key</mat-icon>
</button>