@import "/Users/mustafaali/Desktop/Angular/members-only/client/src/assets/_variables.scss";

mat-card {
    margin: 10px auto 10px auto;
    width: 400px;
    height: 65px;
    text-align: center;
}

mat-card-title {
    text-align: center;
}
#create-post {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    background-color: $accent;
    color: black;
}
.centered {
    margin: 10px auto;
    text-align: center;
}
#member {
    position: absolute;
    left: 5px;
    bottom: 5px;
}