<h1>Sign up here</h1>
<h3 *ngIf="notValid" id="error-message">{{errorMessage}}</h3>

<mat-card id="login-box">
    <form [formGroup]="user" (ngSubmit)="onSubmit()" method="post">
      <img id="hacker-icon" src="../assets/hacker_icon.png" alt="">

        <mat-form-field class="formInput" appearance="fill">
            <mat-label>First Name</mat-label>
            <input type="text" formControlName="fName"  minlength="2" required name="fName"  matInput>
          </mat-form-field>

          <mat-form-field class="formInput" appearance="fill">
            <mat-label>Last name</mat-label>
            <input matInput minlength="2" required name="lName" formControlName="lName" type="lName">
          </mat-form-field>
          <mat-form-field class="formInput" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput name="username" formControlName="username" minlength="4" maxlength="32" required type="text">
          </mat-form-field>
          <mat-form-field class="formInput" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput name="password" formControlName="password" minlength="6" maxlength="24" required  type="password">
          </mat-form-field>

          <div id="login-button-box">
            <button id="login-button" mat-button>Sign-Up</button>
          </div>
    </form>
</mat-card>