<h3 *ngIf="notValid" id="error-message">{{errorMessage}}</h3>
<mat-card id="login-box">
    <form [formGroup]="user" (ngSubmit)="onSubmit()" method="post">
        <mat-form-field class="formInput" appearance="fill">
            <mat-label>Username</mat-label>
            <input type="text" autofocus minlength="4" maxlength="32" required name="username" formControlName="username" matInput>
          </mat-form-field>

          <mat-form-field class="formInput" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput name="password" minlength="6" maxlength="24" required formControlName="password" type="password">
          </mat-form-field>
          <div id="login-button">
            <button mat-button>Login</button>
          </div>
    </form>
</mat-card>

