@import "/Users/mustafaali/Desktop/Angular/members-only/client/src/assets/_variables.scss";

#login-box {
    width: 40%;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#error-message {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}
mat-form-field {
    display: block;
}
input {
    margin: 0 auto;
}
#login-button-box {
    text-align: center;
    margin: 0 auto;
}
#login-button {
    background-color: $primary;
}

#sign-up {
    text-align: center;
    margin-top: 20px;
}
#hacker-icon {
    width: 50px;
    margin: 0 auto;
    display: block;
}
a { color: $accent } 

a:visited { text-decoration: none; color:$accent; }
a:hover, a:active { text-decoration: none; color:black }